<div class="home-intro">
    <div class="home-title"> </div>
    <br>
    <div class="home-sub-title" style="padding: 0px; font-size: smaller; color: gray; font-style: italic;"> </div>
    <style>
        .home-content, .home-contact {
            margin-bottom: 20px; /* Adjust this value as per your needs */
        }
    </style>
    
    <div class="home-content" style="padding: 0px;"> I am a father, a husband, a technologist, and a thinker.
    </div>
    <div class="home-content" style="padding: 0px;">This is my digital garden. It is being planted.
    </div>
    
    <div class="home-contact">
        <div class="home-sub-title"> </div>
        <div class="home-content no-padding">
            Connect on <a href="https://x.com/benwradford">X</a> or <a href="https://linkedin.com/in/benwradford">LinkedIn</a>.
            Shoot me a <a href="mailto:benwradford@gmail.com">note.</a>
        </div>
    </div>
</div>